<!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
        <h2>Discover the Brachiosaurus</h2>

        <div class="description">
            {{dinos.description}}
        </div>

        <div class="card">
            <img src="{{dinos.avatar}}" alt="{{dinos.slug}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{dinos.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dinos.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dinos.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dinos.height}} m.</dd>
                <dt>Length</dt>
                <dd>{{dinos.length}} m.</dd>
                <dt>Weight</dt>
                <dd>{{dinos.weight}}kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
    </aside>
</div>