{% extends 'base.twig' %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

{% for dinosaurs in dinos %}
        <a href="/dinos/{{dinosaurs.slug}}/">
            <figure>
                <img src="{{ dinosaurs.avatar}}" alt="{{dinosaurs.description}}" />
                <figcaption>Discover the {{dinosaurs.slug}}</figcaption>
            </figure>
        </a>
        {% endfor %}
</section>

{% endblock %}
